---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Christine Witt">
  <h1>Hello, I am <span class="highlight">Christine Witt</span>.</h1>
  <p>
    Thanks for stopping by! I’m a Full-Stack JavaScript Developer from the
    Midwest with 10+ years of experience. I have a penchant for front-end
    development.
  </p>
</Layout>
